h1{
    font-family:"Times New Roman","Georgia";
    font-size:xx-large;
    text-align:center;
    background-color:black;
    color:white;
}
*{
    font-family:"Brush Script MT","Lucida Handwriting";
    font-size:large;
}
h2{
    font-size:x-large;
}
.choices{
    font-weight:bold;
}
.intro{
    text-align:right
}